@font-face {
  font-family: "SF-Pro-Display-Light", sans-serif;
  src: url(../fonts/San-Francisco-Pro-Fonts-master/SF-Pro-Display-Light.otf) format('otf');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: "SF-Pro-Display-Regular", sans-serif;
  src: url(../fonts/San-Francisco-Pro-Fonts-master/SF-Pro-Display-Regular.otf) format('otf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF-Pro-Display-Medium", sans-serif;
  src: url(../fonts/San-Francisco-Pro-Fonts-master/SF-Pro-Display-Medium.otf) format('otf');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF-Pro-Display-Semibold", sans-serif;
  src: url(../fonts/San-Francisco-Pro-Fonts-master/SF-Pro-Display-Semibold.otf) format('otf');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF-Pro-Display-Bold", sans-serif;
  src: url(../fonts/San-Francisco-Pro-Fonts-master/SF-Pro-Display-Bold.otf) format('otf');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
